.a2_01{
	width: 266px;
	height: 78px;
	background: url(../images/01.png?__spriter) 0 0 no-repeat;
}

.a2_02{
	width: 270px;
	height: 60px;
	background: url(../images/02.jpg) 0 0 no-repeat;
}
.a2_03{
	width: 290px;
	height: 100px;
	background: url(../images/03.jpg) 0 0 no-repeat;
}

.a2_04{
	padding-top:1px;
	width:120px;
	height:199px;
	margin:0 auto;
	background:url(../images/04.jpg?__spriter) no-repeat center top;
}